# Dependencies
node_modules/

# Next.js Build Output
.next/
out/

# Turborepo Cache
.turbo/

# Build Output
dist/

# Local Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env*.local

# Editor Configurations
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Visitor IP Logs
data/visits.json

# OS Files
.DS_Store
Thumbs.db
desktop.ini
